table {
    width: 100%;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    border-color: grey;
    margin-top: auto;
    margin-bottom: auto;
}

thead{
    background-color: aquamarine;
}

.i-edit-undo {
    color: #0747a6;
    font-size: 1.6em;
    margin: 2px;
}

.i-save {
    color: #da1926;
    font-size: 1.6em;
    margin: 2px;
}

.table-container{
    margin: 20px;
}

.action-td{
    width: 115px;
    height: 31px;
}

.number-td{
    width: 115px;
    height: 31px;
}

.name-td{
    width: 276px;
    height: 31px;
}

.select-nationality, .select-name{
    height: 29px;
    width: 130px;
    font-size: 1.1em;
}

.input-result, .input-dob{
    line-height: 26px;
    width: 130px;
    padding: 0px;
    padding-block: 0px;
    padding-inline: 0px;
    text-align: center;
    font-size: 1.1em;
}

.surname-td{
    width: 276px;
    height: 31px;
}

.nationality-td{
    width: 276px;
    height: 31px;
}

.dob-td{
    width: 276px;
    height: 31px;
}

.result-td{
    width: 276px;
    height: 31px;
}